@media screen and (min-width: 2295px)
	body
		font-size: 20px
	header
		padding 15px 0
	.contact
	.button
		font-size: 16px
@media screen and (max-width 1199px)
	.contact
		font-size: 14px
	.lesson_num
		width 235px
@media screen and (max-width 991px)
	#logo
		width 180px
		float: none
		display block
		margin 0 auto
	.contacts
		text-align: center
		float: none
		line-height: 20px
	.contact
		display: inline-block
		margin 5px 5px 0
	#main
	#todo
	#plan
	#get
	#prices
	#feedback
		padding 40px 0
	#tasks
		padding 40px 0 0
	footer p br
		display: none
@media screen and (max-width 767px)
	.general_list
		padding-left: 20px
	.lesson
		display block
		margin-bottom: 30px
		padding 0
	.lesson_num
		display block
		padding 0
		background-image none
		margin-bottom: 20px
		width 100%
	.lesson_descript
		padding-left: 10px
		display block
		width 100%
	.prepayment
		margin-top: 30px
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#logo
		width 160px
	.contacts
		line-height: 18px
	.contact
		font-size: 12px
		padding-left: 17px
	.contact_skype
		background-size: 12px 12px
	.contact_tel
		background-size: 12px 13px
	.contact_email
		background-size: 16px 12px
		padding-left: 22px
	.pre
		margin-bottom: 20px
	.main_title
		font-size: 32px
		margin 0 0 15px
	.main_text
		font-size: 20px
		line-height: 1.3
	.main_text:last-of-type
		margin-bottom: 30px
	#main
	#todo
	#plan
	#get
	#prices
	#feedback
		padding 30px 0
	#tasks
		padding 30px 0 0
	.general_title
		font-size: 30px
		line-height: 1.2
	footer
		padding 15px 0
	footer p
		font-size: 12px
	.lesson_num_title
		font-size: 28px
	.general_list
		padding-left: 10px
		li
			line-height: 1.4
	.lesson_descript_title
		font-size: 18px
	.general_list_plan
		margin-left: 10px
	.soc_buttons a
		margin 10px 5px 
	footer h5
		font-size: 18px
	footer #conditions, footer p
		font-size: 12px
@media screen and (max-width 380px)
	.pre
		font-size: 16px
	.main_title
		font-size: 28px
		line-height: 1.2
		small
			font-size: 16px
	.general_title
		font-size: 26px
		line-height: 1
	.main_text
		font-size: 18px
	.lesson_descript
		padding-left: 5px
	.lesson_descript_title
		font-size: 16px
	.packet
		padding 30px 15px
	.packet_title
		font-size: 24px
		line-height: 1
	.cost
		margin 10px 0 15px
	.prepayment
		margin-top: 20px
	.prepaymant_title
		font-size: 26px
	.prepayment_text
		font-size: 18px
		margin 10px 0 20px
	.garants
	.day
		padding 15px