#plan
	padding 50px 0
	background-color: rgb(0,34,43)
.lesson
	display: table
	width 100%
	margin-bottom: 45px
.lesson_num
.lesson_descript
	display: table-cell
	vertical-align: middle
.lesson_num
	// padding-right: 35px
	background-image url(../img/bracket.png)
	background-repeat no-repeat
	background-position: center right 
	width 254px
.lesson_num_title
	font-size: 40px;
	font-family: "CormorantBoldItalic", serif;
	font-weight: bold;
	font-style: italic;
	color: rgb(213, 199, 172);
	line-height: 1
.lesson_descript_title
	// width 100%
	// max-width 70%
	color: rgb(213, 199, 172);
	font-size: 20px
	text-transform: uppercase
	margin-bottom: 10px
.lesson_descript
	padding-left: 25px
	width calc(100% - 264px)
	overflow hidden
.general_list_plan
	float left
	color #d5c7ac
	width 100%
	// max-width 80%
	margin-left: 20px