#prices
	padding 50px 0
	background-color: rgb(0,34,43)
.prices_container
	width 100%
	max-width 800px
	margin 0 auto 20px
.packet
	padding 40px 20px
	width 100%
	max-width 320px
	margin 0 auto
	border-radius: 20px
	background-color: rgb(255,170,79)
	background-image url(../img/decor_top.png),url(../img/decor_lower.png)
	background-repeat: repeat-x
	background-position: center bottom, center top
	text-align: center
.packet_title
	font-size: 28px
	margin-bottom: 15px
	font-family: "CormorantBoldItalic", serif;
	font-weight: bold;
	font-style: italic;
	line-height: 1.3
.packet_text 
	font-size: 20px
.cost
	margin 20px 0
	font-size: 22px
	font-family: 'Akrobat', sans-serif
	span
		font-size: 30px
		display block
		font-family: 'AkrobatBold', sans-serif
		font-weight: bold
		color red
.prepayment
	width 100%
	max-width 650px
	margin 50px auto 0
	text-align: center
.prepaymant_title
	font-size: 32px
	font-family: "AkrobatBold", sans-serif
	font-weight: bold
	color red
.prepayment_text
	font-size:   20px
	color #fff
	margin 15px 0 40px
.garants
	width 100%
	max-width 650px
	margin 30px auto 0
	background-color: rgba(255,255,255,.9)
	border-radius: 5px
	border: 1px dashed #000
	box-shadow 0 3px 15px 0 rgba(0,0,0,0.4)
	text-align: center
	padding 20px
	color #000
.title_recs
	color #ffffff
	font-family: "AkrobatBold", sans-serif
	font-weight: bold
	font-size: 28px
	margin 40px 0 20px
	line-height: 1.3
	text-align: center
	span
		display inline-block
.buy_recs_text
	text-align: center
	color #ffffff
	font-size: 22px
.buy_recs_button
	margin 15px auto 0
.garants_title
	font-size: 18px
	margin-bottom: 5px
	font-family: "AkrobatBold", sans-serif
	font-weight: bold
.garants_text
	font-size: 16px