#tasks
	padding 50px 0 0
.days
	width 100%
	max-width 650px
	margin 0 auto
.days_buttons
	text-align: center
	margin-bottom: 15px
	li
		display: inline-block
		margin 5px
		border: 1px solid #aaa
		padding 5px 10px
		border-radius: 10px
		cursor pointer
		background-color #aaa
		transition: all .3s ease
		&:hover
		&.active2
			background-color: #fff
			color #000
			box-shadow: 0 3px 8px 3px rgba(0,0,0,.1)
			transform: translateY(-2px)
			border-color: #000
.days_container
	border-radius: 10px
	background-color #fff
.day_title
	text-align: center
	font-size: 22px
	font-family: "AkrobatBold", sans-serif;
	font-weight: bold
	margin-bottom: 15px
.day
	padding 20px
.video_wrapper_videos
	max-width 100%
.video_text
	margin-top: 10px
	font-size: 18px