section#main
	.container
		p.pre Бонус от Ади Джайадхара
		h1.main_title «Беспричинное блаженство»
		p.main_text Старт интенсива: 
			span 6 мая, в 19:00 мск
		.video_wrapper.main_video_wrapper
			iframe(src="https://youtube.com/embed/q-FQAEOEoHk?rel=0&autoplay=1" allowfullscreen)