-var head_url = 'https://jayadhar.mastervision.su/creative-transformation/';
-var head_title = '«Технология творческой трансформации»';
-var head_description = 'Бесплатный 2-хдневный онлайн-интенсив Ади Джайадхара';
-var head_img = 'https://jayadhar.mastervision.su/creative-transformation/img/banner.jpg';
-var styles = 'css/styles.css';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/header
		include pug/main/main
		include pug/main/mail_sec
		include pug/main/for
		include pug/main/plan
		include pug/main/get
		include pug/main/author
		include pug/main/revs
		include pug/main/last
		include pug/main/last_mail_sec
		include pug/main/footer
		include pug/scripts
		<!-- BEGIN JIVOSITE CODE {literal} -->
		script(type='text/javascript')
			| (function(){ var widget_id = 'hpJdJNkknY';var d=document;var w=window;function l(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);} if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);} else{w.addEventListener('load',l,false);}}})();
		<!-- {/literal} END JIVOSITE CODE -->
		include pug/scripts/body_bottom_scripts