section#for
	.container
		h3.general_title.general_title_dark Этот интенсив необходим вам, если:
		ul.general_list.general_list_for
			li В вашей жизни мало радости, удовольствия, вдохновения и гармонии
			li Ваша жизнь перегружена дисгармонией и неприятными состояниями
			li Вам не хватает сил, энергии для достижения целей
			li Вы уже почти забыли, что такое ощущать себя победителем и радоваться достижениям
			li Вас поймал поток быта и повседневности, из которого вы не видите выхода к реализации своих желаний
			li Вы недовольны собой, вашей жизнью и ищете дорогу к гармонии и победам
			li Вам не хватает практических знаний о том, как осуществить желания и обрести гармонию
			li Вас мучает ваш внутренний критик, вы осуждаете и не принимаете себя
			li Вас угнетают неприятные события, случившиеся в вашем прошлом
			li Ваши мечты не сбываются, не получается достигнуть поставленных целей
			li Вы не можете хорошо управлять событиями вашей жизни
		button.button.button_for(data-toggle="modal" data-target="#myModal") Записаться на интенсив