section#get
	.container
		h3.general_title.general_title_dark Благодаря этому интенсиву вы:
		ul.general_list.general_list_get
			li Получите оптимальное мировоззрение, полное возможностей, гармонии и побед
			li Получите информацию о том, как устроено мироздание и вы сами, которая поможет управлять вашей жизнью
			li Проработаете свою человеческую, низшую животную и божественную природу
			li Гармонизируете эти 3 аспекта себя и перестанете сражаться с самим с собой
			li Получите опыт быстрого достижения желаемых вами результатов
			li Облегчите вашу жизнь от негативного кармического груза, проработаете острые травматические ситуации, которые вас беспокоят до сих пор
			li Научитесь экономить энергию и накапливать большие запасы энергии
			li Получите веру в ваши силы, таланты и возможности
			li Обретёте состояние успешного творца и мастера своей жизни
			li Получите ключ к дальнейшему улучшению своей жизни, к осуществлению мечты и к могуществу великой гармонии
		button.button.button_get(data-toggle="modal" data-target="#myModal") Записаться на интенсив