section#main
	.container
		img(src="img/adi_main.png", alt="Ади Джайадхар")#adi_main
		.row
			.col-md-8.col-sm-7.col-md-offset-4.col-sm-offset-5
				p.pre Бесплатный онлайн-интенсив
				h1.main_title «Технология творческой трансформации.
					span Стань тем, кем должен был стать!»
				.main_info
					p.main_text Даты: 
						span с 6 по 7 мая  19:00 (МСК)
					p.main_text Автор курса: 
						span Ади Джайадхар
				.video_wrapper.video_wrapper_main
					iframe(src="https://youtube.com/embed/9zrglRHWtrY?rel=0&autoplay=0")