section#plan
	.container
		h3.general_title.general_title_light План интенсива:
		.day.day_1
			.day_num
				h4.day_num_title День 1
			.day_descript
				h5.day_descript_title Знакомство с ТТТ
				ol.general_list.general_list_plan
					li Базовые основы Технологии Творческой Трансформации
						ul
							li Наше интегральное устройство, основные модули
							li Устройство мироздания как манифестации сверхприроды
							li Суть Технологии Творческой Трансформации
							li Утверждение в 5 принципах практики ТТТ
					li Техника гармонизации трёх модулей и их субмодулей для накопления энергии, обретения гармонии и успеха в делах
		.day.day_2
			.day_num
				h4.day_num_title День 2
			.day_descript
				h5.day_descript_title Первые техники улучшения жизни через модули "Человек", "Зверь" и "Бог"
				ol.general_list.general_list_plan
					li «Владыка восприятия»: техника перепрограммирования сознания и эмоций через восприятие
					li Техника преобразования негативной энергии в позитивную «поворот на позитив»
					li Техника «творец радости»
					li Техника избавления от кармических травм «с точки зрения сверхприроды»
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться на интенсив