section#plan
	.container
		h3.general_title.general_title_light План интенсива:
		.day.day_1
			.day_num
				h4.day_num_title День 1
			.day_descript
				ul.general_list.general_list_plan
					li Устройство мироздания и наше устройство
					li Задачи и механизмы Технологии Творческой Трансформации
					li Техники улучшения жизни через потенциал модуля «человек» (психоэмоциональная природа), модуля «зверь» (телесная природа) и модуля «бог» (сверхприрода)
					li Гармонизация модулей и субмодулей нашего интегрального организма
					li Лишение внутреннего инквизитора его силы через потенциал модуля «человек»
		.day.day_2
			.day_num
				h4.day_num_title День 2
			.day_descript
				ul.general_list.general_list_plan
					li Трансформация внутреннего палача в доброго советчика через потенциал модуля «человек»
					li Уничтожение негатива через потенциал модуля «зверь»
					li Гармонизация настроения и самочувствия через потенциал модуля «зверь»
					li Избавление от негатива и страданий трёх уровней кармической вовлечённости через потенциал модуля «бог»
					li Принцип жонглирования субмодулями и принцип активации потенциала сверхприроды для достижения целей и осуществления желаний
		button.button.button_plan(data-toggle="modal" data-target="#myModal") Записаться на интенсив