#author
	padding 50px 0
	background-color: rgb(0,34,43)
.author_img
	width 288px
	height 455px
	background-image url(../img/adi.png)
	background-repeat no-repeat
.author_subtitle
	font-size: 24px;
	font-family: "Akrobat",sans-serif
	color: rgb(246, 168, 86);
	text-transform: uppercase;
	line-height: 1.2
	margin-bottom: 30px
.auhtor_text
	color: rgb(213, 199, 172);
	line-height: 1.6
	margin-bottom: 15px
.author_text_blockquote 
	font-size: 22px
	font-family: "CormorantBoldItalic", serif;
	margin-top: 40px
.button_author
	margin-top: 50px