footer
	padding 20px 0
	text-align: center
	background-color: rgb(11,23,27)
	color #d5c7ac
	font-size: 14px
.modal-backdrop.in
	opacity .8
.mail_modal-content
	background-color: rgb(255,170,79)
	text-align: center
	background-image url(../img/decor_top.png),url(../img/decor_lower.png)
	background-repeat: repeat-x
	background-position: center bottom, center top
	padding 20px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 20px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal_form_wrapper
	width 100%
	max-width 455px
	margin 15px auto 0
.politics_modal-content
	background-color #fff
	background-image none
	.modal-title
		font-size: 24px
		text-align: left 
		width 100%
		max-width 90%
		font-family: 'AkrobatBold', sans-serif
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px
		text-align: left
.modal_mail_section_title
	margin 10px auto 20px
	width 100%
	max-width 85%