#last_mail
	padding 40px 0
	background-color: rgb(255,170,79)
	background-image url(../img/decor_top.png),url(../img/decor_lower.png)
	background-repeat: repeat-x
	background-position: center bottom, center top
	text-align: center
.last_mail_title
	font-size: 30px;
	font-family: "Akrobat", sans-serif;
	color: rgb(22, 39, 47);
	line-height: 1
.last_mail_text
	font-size: 34px
	font-family: 'CormorantBoldItalic', serif;
	font-weight: bold;
	font-style: italic;
	margin 20px 0
.last_mail_form
	width 100%
	max-width 500px
	margin 0 auto
	.form_wrapper
		margin 0 auto
		width 100%
		max-width 445px