#last
	padding 40px 0
	background-color: rgb(12,24,27)
	background-image url(../img/last_bg.jpg)
	background-repeat no-repeat
	text-align: center
	color #d5c7ac
	.last_title
		font-size: 38px;
		font-family: "CormorantBoldItalic", serif;
		font-weight: bold;
		font-style: italic;
		line-height: 1.3
.last_text
	font-size: 30px
	font-family: 'Akrobat',sans-serif
	margin 35px 0
.last_aftertitle
	font-size: 30px
	font-family: 'AkrobatBold',sans-serif