@media screen and (min-width: 2295px)
	body
		font-size: 20px
	header
		padding 15px 0
	// .container
	// 	width 1400px
	.contact
	.button
		font-size: 16px
	// #adi_main
	// 	left 200px
@media screen and (max-width 1199px)
	.contact
		font-size: 14px
	.day_num
		width 160px
@media screen and (max-width 991px)
	#logo
		width 180px
		float: none
		display block
		margin 0 auto
	.contacts
		text-align: center
		float: none
		line-height: 20px
	.contact
		display: inline-block
		margin 5px 5px 0
	#mail_section
		text-align: center
	.mail_section_form
		width 100%
		max-width 500px
		margin 10px auto 0
	.form_wrapper
		margin 0 auto
	#for
	#plan
	#get
	#author
	#revs
		padding 40px 0
	.author_img
		width 100%
		height 350px
		background-size contain
	#text_revs .text_rev_item a
	.video_wrapper_revs
		max-width 500px
	#text_revs .text_rev_item a .revs_img
		height 300px
	footer p br
		display: none
	.general_list_for
		margin-bottom: 40px
@media screen and (max-width 767px)
	#adi_main
		display: none
	.general_list
		padding-left: 20px
	.checking_modal
		max-width 500px
	.day
		display block
	.day_num
		display block
		padding 0
		background-image none
		margin-bottom: 20px
		width 100%
	.day_descript
		padding-left: 10px
		display block
		width 100%
	.author_img
		margin-bottom: 25px
	.button_author
		margin-top: 40px
	.last_text
		margin 20px 0
	.controls
		position: static
		overflow hidden
		height 74px
		width 100%
		max-width 500px
		margin 10px auto 0
	.carousel-control
		position: static
	.carousel-control.left
		float: left
	.carousel-control.right
		float: right
	#text_revs .text_rev_item a .revs_img
		height 280px
@media screen and (max-width 590px)
	.main_text
		display block
	.main_text:last-child::before
		display: none
	.email
	.button_mail
		float: none
		display block
		width 100%
		max-width 280px
		margin 0 auto
	.button_mail
		margin-top: 10px
	.form_wrapper
		background-color: transparent
	.mail_modal-content
		padding 30px 10px
@media screen and (max-width 485px)
	#logo
		width 160px
	.contacts
		line-height: 18px
	.contact
		font-size: 12px
		padding-left: 17px
	.contact_skype
		background-size: 12px 12px
	.contact_tel
		background-size: 12px 13px
	.contact_email
		background-size: 16px 12px
		padding-left: 22px
	.pre
		font-size: 20px
	.main_title
		font-size: 32px
	#mail_section
	#for
	#plan
	#get
	#author
	#revs
	#last
	#last_mail
		padding 30px 0
	.general_title
	#last .last_title
		font-size: 30px
		line-height: 1.2
	footer
		padding 15px 0
	footer p
		font-size: 12px
	.day_num_title
		font-size: 28px
	.day
	.general_list_for
	.general_list_get
		margin-bottom: 30px
	.author_img
		background-position: center
	.author_subtitle
		text-align: center
	.auhtor_text
		margin-top: 20px
	.button_author
		margin-top: 30px
	#text_revs .text_rev_item a .revs_img
		height 190px
	.last_text
		font-size: 20px
		margin 15px 0
	.last_aftertitle
		font-size: 20px
	.last_mail_title
		font-size: 24px
	.last_mail_text
		font-size: 28px
		margin 10px 0
@media screen and (max-width 380px)
	.pre
		font-size: 18px
	.main_title
		font-size:28px
		line-height: 1.2
	.general_title
		font-size: 26px
	.main_text
		font-size: 20px
	.general_list
		padding-left: 10px
	.author_subtitle
		font-size: 20px
		margin-bottom: 20px
	.auhtor_text
		margin: 10px 0
	.author_text_blockquote
		line-height: 1.4
	#text_revs .text_rev_item a .revs_img
		height 140px
	.controls
		height 40px
	.carousel-control
		height 40px
		width 40px
		background-size contain
	#last .last_title
		font-size: 28px
	.last_mail_text
		line-height: 1.1