#plan
	padding 50px 0
	background-color: rgb(0,34,43)
.day
	display: table
	width 100%
	margin-bottom: 45px
.day_num
.day_descript
	display: table-cell
	vertical-align: middle
.day_num
	padding-right: 35px
	background-image url(../img/bracket.png)
	background-repeat no-repeat
	background-position: center right
	width auto
.day_num_title
	font-size: 48px;
	font-family: "CormorantBoldItalic", serif;
	color: rgb(213, 199, 172);
	line-height: 1
.day_descript
	padding-left: 25px
	width calc(100% - 172px)
.general_list_plan
	color #d5c7ac