section#get
	.container
		h3.general_title.general_title_dark.general_title_todo Что вы получите?
		ul.general_list.general_get_list
			li На курсе вы получите информацию о свойствах, силах и способностях трёх модулей вашей природы: личностной, телесной и высшей
			li Поверьте в ваше право на счастье, придите внимательным и открытым, готовым получить силу Технологии Творческой Трансформации
			li Ни в чём себе не отказывайте: сила древности и современности, Запада и Востока – курс ТТТ подарит вам полный комплект драгоценных инструментов для триумфального действия!
			li Позитивные перемены будут происходить в вас сразу в процессе курса