section#main
	.container
		p.pre Домашние задания интенсива внизу страницы
		h1.main_title
			small Обучающий курс
			= head_title
		p.main_text Старт курса: 
			span 6 мая, в 19:00 мск
		p.main_text Автор курса: 
			span Ади Джайадхар
		a.button.button_main(href="#tasks") К домашним заданиям