section#plan
	.container
		h3.general_title.general_title_light План курса:
		.lesson.lesson_1
			.lesson_num
				h4.lesson_num_title Занятие I
			.lesson_descript
				h5.lesson_descript_title ЗАДЕЙСТВОВАНИЕ ПОД/СВЕРХСОЗНАНИЯ ЧЕРЕЗ МЕТОДИКУ АСТРАЛЬНЫХ ОРГАНОВ. НАСТРОЙКА НА СВЕРХПРИРОДУ
				ol.general_list.general_list_plan
					li Получение энергии, свойственной каждому модулю для приведения себя в оптимальное для действий состояние
					li Отражатели негатива и их активация
					li Улавливатели гармонии и их активация
					li Техника «астральный пульт управления»
					li Техника гармонизации трёх аспектов сверхприроды
		.lesson.lesson_2
			.lesson_num
				h4.lesson_num_title Занятие II
			.lesson_descript
				h5.lesson_descript_title ТЕХНОЛОГИЯ УПРАВЛЕНИЯ ЖИЗНЬЮ ЧЕРЕЗ ЖОНГЛИРОВАНИЕ СУБМОДУЛЯМИ
				ol.general_list.general_list_plan
					li Техника «обратная перемотка», исцеляющая от кармических травм прошлого
					li Техника «мастер-жонглёр субмодулями»
					li Техника «божество гармонии и блаженства»
		.lesson.lesson_3
			.lesson_num
				h4.lesson_num_title Занятие III
			.lesson_descript
				h5.lesson_descript_title СПЕЦИФИКА ЛИЧНОЙ СВЕРХПРИРОДЫ И КОНФИГУРАЦИЯ ЕЁ АВАТАРЫ
				ol.general_list.general_list_plan
					li Техника определения специфики нашей сверхприроды
					li Техника «призывание сверхприроды»
					li Техника определения главной аватары сверхприроды
					li Техника активации аватары силы
		.lesson.lesson_4
			.lesson_num
				h4.lesson_num_title Занятие VI
			.lesson_descript
				h5.lesson_descript_title МЕХАНИКА ДОСТАВКИ ЖЕЛАЕМОГО
				ol.general_list.general_list_plan
					li Техника «кинотеатр освобождения от фобий»
					li Орган доставки и технология его применения
					li Технология двойной (подстраховывающей) визуализации
					li Простой метод выбора цели для органа доставки
					li Излучатели-вариаторы и оптимизация направления запроса
					li Древний метод гармонизации соотношений с излучателями-вариаторами
		a.button.button_plan(href="#prices") Записаться