section#tasks
	.container
		h3.general_title.general_title_dark.general_title_tasks Домашние задания интенсива
		.days
			ul.days_buttons
				li День 1
				li День 2
			.days_container
				.day
					h4.day_title День 1
					.video_wrapper.video_wrapper_videos.hide
						iframe(src="https://youtube.com/embed/C_Ca1uNyxPo?rel=0" allowfullscreen)
					p.video_text Занятие состоится 06.05.19, в 19:00 мск
				.day
					h4.day_title День 2
					p.video_text Занятие состоится 07.05.19, в 19:00 мск