section#todo
	.container
		h3.general_title.general_title_dark.general_title_todo Что будем делать на курсе?
		ul.general_list.general_todo_list
			li Будем учиться создавать себе жизнь согласно личным пожеланиям и запросам, и управлять тем, что в ней будет происходить.
			li Через методики и тесты будем постигать нашу природу, наши возможности, и совершенствовать наше мировоззрение, чтобы жить было легче и приятнее, а достигать цели куда проще.
			li Будем изучать методы и практиковать техники быстрого улучшения нашей жизни: настоящего, прошлого и будущего.
			li Будем получать позитивные результаты практики, и через это усиливать себя и улучшать нашу жизнь. Изменения к лучшему начнутся уже во время курса!