section#main
	.container
		p.pre= head_description
		h1.main_title= head_title
		p.main_text Старт интенсива: 
			span с 6 мая, в 19:00 (МСК)
		.video_wrapper.main_video_wrapper
			iframe(src="https://youtube.com/embed/"+video+"?rel=0&autoplay=0" allowfullscreen)